# Dependencies
node_modules/
backend/node_modules/
backend/apps/*/dist/
backend/packages/*/dist/

# pnpm
pnpm-lock.yaml
backend/pnpm-workspace.yaml

# Environment
.env
.env.*.local
!*.example
apps/**/.env
backend/apps/**/.env

# Docker
.dockerignore

# Prisma
prisma/migrations/
prisma/client/

# Flutter
flutter_app/.dart_tool/
flutter_app/.flutter-plugins
flutter_app/.flutter-plugins-dependencies
flutter_app/.packages
flutter_app/ios/
flutter_app/android/
flutter_app/build/